---
language: python
python: "2.7"
sudo: required
env:
  - ANSIBLE_VERSION=latest
  - ANSIBLE_VERSION=2.3.1.0
  - ANSIBLE_VERSION=2.3.0.0
install:
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi
  - ansible --version
  - printf '[defaults]\nroles_path=../' > ansible.cfg
script:
  - sudo touch /etc/sudoers.d/bogus.file
  - ansible-playbook -i tests/inventory --syntax-check tests/test.yml
  - ansible-playbook -i tests/inventory -vvv tests/test.yml
  - sudo ls -l /etc/sudoers.d/
  - sudo test  -f /etc/sudoers.d/00_defaults
  - sudo test  -f /etc/sudoers.d/09_example
  - sudo test ! -f /etc/sudoers.d/bogus.file
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
